/admin_site/*.db
/python-env
/admin_site/python-env
/admin_site/etc/bibos-proxy.htpasswd
/admin_site/site_media/script_uploads
/admin_site/site_media/parameter_uploads
/admin_site/site_media/site_media
/bibos_utils/bibos_utils.egg-info/
/bibos_utils/build/
/bibos_utils/dist/
/bibos_client/bibos_client.egg-info/
/bibos_client/build/
/bibos_client/dist/

*.pyc
*.swp
.bash_history
.viminfo
.vim
.ropeproject
*.egg-info
.env
