<div class="template-container">
  <table>
    <tbody id="script-input-template">
      <tr class="script-input">
        <td>
          <input type="hidden" name="script-input-pk" value="#PK#" class="pk-input" />
          <div class="error">#NAME_ERROR#</div>
          <input type="text" name="script-input-name" value="#NAME#" class="name-input">
        </td>
        <td>
          <div class="error">#TYPE_ERROR#</div>
          <select name="script-input-type" class="type-input">
            {% for value, name in type_choices %}
            <option value="{{value}}">{{name}}</option>
            {% endfor %}
          </select>
        </td>
        <td><a href="javascript:void(0)" onclick="BibOS.ScriptEdit.removeInput($(this).parent().parent())">Fjern</a></td>
      </tr>
    </tbody>
  </table>  
</div>
