{% extends "system/scripts/form.html" %}

{% block script_form_heading %}
Redigér script: <em>{{ selected_script.name }}</em>
{% endblock %}

{% block script_edit_controls %}
<a href="#runscriptmodal" role="button" class="btn btn-success" data-toggle="modal">Kør script</a>
<input type="submit" class="btn btn-primary" value="Gem ændringer" />
<button class="btn" onclick="location.href='{% url 'script' site.uid selected_script.pk %}'; return false;">Annuller</button>
{% endblock %}

{% block script_code_preview %}
Kode-preview:
<pre>{{script_preview |escape}}</pre>
{% endblock %}

