<li data-pc-name="{{ name|escape }}" data-pc-pk="{{ pk|escape }}" class="pclist-item">
  <div class="btn-group profile dark">
    {% if selected %}
    <input type="hidden" name="{{ submit_name|escape }}" value="{{ pk|escape }}" />
    {% endif %}
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="icon-hdd"></i> {{ name|escape }}</a>
    <ul class="dropdown-menu">
      <li><a href="javascript:void(0)"><i class="icon-remove"></i> Fjern computer</a></li>
    </ul>
  </div>
</li>
