<li data-user-name="{{ name|escape }}" data-user-pk="{{ pk|escape }}"
    class="userlist-item">
  <div class="btn-user profile dark">
      <input type="hidden"  name="{{ submit_name|escape }}" value="{{ pk|escape }}" />
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i
            class="icon icon-tags"></i> {{ name|escape }} {{ selected }}</a>
    <ul class="dropdown-menu">
      <li><a href="javascript:void(0)"><i class="icon-remove"></i> Fjern bruger</a></li>
    </ul>
  </div>
</li>  
