<li data-group-name="{{ name|escape }}" data-group-pk="{{ pk|escape }}"
    class="pcgrouplist-item">
  <div class="btn-group profile dark">
    {% if selected %}
    <input type="hidden" name="{{ submit_name|escape }}" value="{{ pk|escape }}" />
    {% endif %}
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i
            class="icon icon-tags"></i> {{ name|escape }}</a>
    <ul class="dropdown-menu">
      <li><a href="javascript:void(0)"><i class="icon-remove"></i> Fjern gruppe</a></li>
    </ul>
  </div>
</li>  
