/* Containers*/

body {background: #ddd;}
.main {position: absolute; top: 64px; bottom: 0; left: 250px; right: 0; overflow-x: hidden; overflow-y: auto;}
.sublevelmain {left: 500px;}
.main > * {margin-top: 20px;}
.template-container {display: none;}


/* Headers */

header {padding: 20px; margin: 0 0 20px; background: #444; color: #ccc;}
header.detailpage {padding: 20px 0; margin-left: 250px;}
header.detailpage h1 {font-size: 24px; line-height: 24px; margin: 0;}
header h1 em {color: #fff; font-style: normal;}
.nav-header {
  letter-spacing: 0.05em;
  font-weight: normal;
}
.divideheader {background: #444; color: #ddd; padding: 0 20px; margin-top: 40px; font-size: 21px;}
.divideheader em {color: #fff; font-style: normal;}
h2.divideheader {margin-top: 20px;}
.divideheader .label {margin-left: 20px; position: relative; bottom: 2px;}
h3.nav-header,
h4.nav-header {margin: 0; padding: 0;}
header.detailpage h1.siteheader {margin-left: 20px;}
div.runscriptdialogheader {display: none;}


/* Navigation */

.nav.utils>li>a {color: #fff; text-shadow: none;}
.nav.utils>li>a:hover, .nav.utils>li>a:focus {background: #666; border-radius: 5px;}
.nav-list.utils .nav-header {text-shadow: none; color: #ccc;}
.sublevelnav {position: absolute; top: 64px; left: 250px; bottom: 0; width: 250px; background: #fff; overflow-x: hidden; overflow-y: auto; margin: 0;}
.sublevelnav li a {border-top: solid 1px #ddd; display: block; padding: 10px;}
.sublevelnav li:first-child a {border: none;}
.sublevelnav li a.list-item:hover {background: #08c; color: #fff; text-decoration: none;}
.sublevelnav a.remove:hover, .sublevelnav a.remove:active, .sublevelnav a.remove:focus {background: #c44; border: none;}
.inertnav {background: #ccc; border-radius: 5px; padding: 15px 20px;}
.inertnav li {padding: 2px 0; color: #666;}
.inertnav li:hover {background: #ddd;}
.scripttabs {margin: 0 !important; background: #444; padding: 10px 10px 0 !important; border: none;}
.scripttabs>li {margin: 0;}
.scripttabs>li>a, .scripttabs>.active>a, .scripttabs>.active>a:hover, .scripttabs>.active>a:focus {border: none; margin: 0;}
.scripttabs>li>a {color: #fff;}
.scripttabs>li>a:hover, .scripttabs>li>a:focus {background: #08c;}
.scripttabs>.active>a {background: #fff !important; color: #444 !important;}
.sublevelnav-inverted {background: #444; color: #ccc;}
.sublevelnav-inverted .nav-header {text-shadow: none; color: #ccc}
.sublevelnav-inverted .collapsing {margin-bottom: 10px;}
.sublevelnav-inverted hr {border: solid 1px #666; border-width: 1px 0 0;}
.sublevelnav-inverted .collapse a {color: #fff; border: none;}
.nav-list>.active>a,
.nav-list>.active>a:hover,
.nav-list>.active>a:focus,
.sublevelnav li.active a,
.sublevelnav-inverted .collapse .selected a,
.orderby.active {background-color: #8c0; color: #fff;}
ul.nav li ul { color: #fff; list-style: none; padding: 0; margin: 0 0 0 1em; }
ul.nav li ul a, ul.nav li ul a:hover, ul.nav li ul a:focus { color: #fff; text-decoration: none; }
ul.nav li ul li.active { font-style: italic; }
.nav-tabs {margin: 1em 0 0; padding: 0 20px;}
.tabcontent {display: none; background: #fff; padding: 20px; border-radius: 0.25em;}
.tabcontent.active {display: block;}


/* Misc */

.utils {background: #444; box-shadow: none; border-radius: 0 0 10px 10px; padding: 10px 20px; margin: -30px 0 0;}
.listutils a {background: #444; color: #fff; padding: 10px; display: block;}
.profile {font-size: 14px; margin-right: 20px;}
.profile a.dropdown-toggle {color: #fff;}
.dark a.dropdown-toggle {color: #000;}
.nav-list.utils .divider {border: none; background: #666;}
.utils-global {position: absolute; top: 0; bottom: 0; left: 0; width: 210px; margin: 0; border-radius: 0; box-shadow: -5px -5px 20px #111 inset; overflow-x: hidden; overflow-y: auto;}
.accordion {margin-top: 20px;}
.accordion-group {border: none; padding: 0;}
.accordion-toggle {text-align: left;}
.searchfilter .btn {display: block; text-align: left;}
.collapsing {display: block; text-align: left;}
.popover {max-width: 40em;}
.popover.bottom .arrow {left: auto; right: 30px;}
.popover.bottom {margin: 5px 20px 0 0;}
.popover.top .arrow {left: auto; right: 30px;}
.popover.top {margin: 0 20px 5px 0;}
#localscripts,
#globalscripts {position: absolute; bottom: 0; top: 90px; left: 0px; width: 250px; overflw-X: hidden; overflow-y: auto;}
.orderby:hover {background: #08c; color: #fff;}
#jobinfo-popover {position: absolute; display: none; z-index: 10000; width: auto; min-width: 20em; max-width: 60em;}
.scriptDescription textarea {width: 95%; min-height: 20em;}
.addsitetrigger {padding-bottom: 0.5em;}
#group_configuration, #pc_config {margin-bottom: 0;}
.script-list {
  list-style-type:none;
  margin-left:0;
}
.script-list li:hover {
  cursor:pointer;
  background-color:#eee;
}

/* Tables */

.well .table {margin-bottom: 0;}
.table th {border-top: none;}
.table-striped tbody>tr:nth-child(odd)>th {background: #444; color: #fff;}
.jobtable .popover-content a {margin-bottom: 10px; display: inline-block;}
.jobtable tr td {border-top: solid 1px #ccc;}
.table th.orderby {
    cursor: pointer;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 0.5em 0.5em 0 0;
}
.click-list--item td {
    border-top: solid 1px #ccc;
    cursor: pointer;
}


/* Forms */

textarea {
    max-width: 100%;
}
.sublevelnav-inverted > form {padding: 20px;}

input.phantom { display: none; }

/* Lists */

.itemlist .btn-group {margin: 0 10px 10px 0;}
.actionlist {padding: 5px;}
.actionlist a {border-top: solid 1px #ddd; padding: 10px; display: block;}
.actionlist > li:first-child a {border: none;}
.actionlist .btn-group {display: block;}
.actionlist a:hover {background: #08c; color: #fff; text-decoration: none; border-radius: 5px;}
.actionlist .profile {margin-right: 0;}
.packagelist > li {display: inline-block;}
.packagelist > li > .btn-group {margin: 0;}
.packagelist > li > .btn-group > a {border: none; padding: 5px;}
li.addpackagecontrol {display: block;}
li.addpackagecontrol label,
li.addpackagecontrol a {display: inline}
.addpackagecontrol {margin: 10px 0;}
.addpackagecontrol > * {vertical-align: bottom;}
.addpackagecontrol input {margin-bottom: 0;}
ul.addlist {min-width: 80%; box-shadow: 0 10px 10px #999; padding: 0; z-index: 100;}
ul.addgrouplist {display: none; max-height: 300px; overflow-y: auto; position: absolute; background-color: #fff;}
ul.addgrouplist li {cursor: pointer;}
ul.addlist li a {border-top: solid 1px #ddd !important;}
li.addgrouptrigger {position: relative;}
li.addgrouptrigger:hover ul.addgrouplist {display: block}
ul.adduserlist {display: none; max-height: 300px; overflow-y: auto; position: absolute; background-color: #fff;}
ul.adduserlist li {cursor: pointer;}
li.addusertrigger {position: relative;}
li.addusertrigger:hover ul.adduserlist {display: block}
ul.addpclist {display: none; max-height: 300px; overflow-y: auto; position: absolute; background-color: #fff;}
ul.addpclist li {cursor: pointer;}
li.addpctrigger {position: relative;}
li.addpctrigger:hover ul.addpclist {display: block}
li.selected {background-color: #D5D5D5;}


/* Notifications and errors */

.bibos-notification, .errorlist { display: none; background-color: #88CC00; box-shadow: 2px 5px 10px #aaa; padding: 0.25em 0.5em 0.25em 0.5em; color: #fff; margin: 0 0 10px; border: solid 1px rgba(0, 0, 0, 0.1)}
.errorlist {background-color: #b94a48; display: block; list-style: none;}


/* Documentation */

div.docscontainer {padding-bottom: 20px;}
div.docscontainer * {max-width: 600px;}
div.docscontainer p, div.docscontainer h1, div.docscontainer h2, div.docscontainer h3, div.docscontainer h4 {margin-top: 0.75em; margin-bottom: 0.25em;}
div.docscontainer h1 {font-size: 1.75em; line-height: inherit;}
div.docscontainer h2 {font-size: 1.25em; line-height: inherit;}
div.docscontainer h3 {font-size: 1.1em; line-height: inherit;}
div.docscontainer h4 {font-size: 1em; line-height: inherit;}
div.docscontainer pre {max-width: 100%;}
div.docscontainer .nav-list {list-style: none; padding: 0; margin: 20px 0;}
div.docscontainer .nav-list>li>a {margin: 0; display: inline-block; padding: 3px 6px; border-radius: 5px;}
div.docscontainer .nav-list>li>a:hover {background: #666; text-decoration: none; color: #fff; text-shadow: none;}


/* Security warning badges and labels */

.sec-warn-blink {-webkit-animation: blinking 2s infinite; animation: blinking 2s infinite;}
@-webkit-keyframes blinking {
  0% { background-color: #b94a48; }
  50% { background-color: transparent; }
  100% { background-color: #b94a48; }
}
@keyframes blinking {
  0% { background-color: #b94a48; }
  50% { background-color: transparent; }
  100% { background-color: #b94a48; }
}
.label-warning,
.badge-warning {color: #333;}
.label-gentle-warning,
.badge-gentle-warning {background-color: #F8F006; color: #333;}
.seclevel-danger {color: #fff; background-color: #b94a48;}
.seclevel-warning {color: #333; background-color: #f89406;}
.seclevel-gentle-warning {color: #333; background-color: #F8F006;}
.severity-label-important,
.severity-label-warning,
.severity-label-gentle-warning {
    border-left: solid 1em #F8F006;
    box-sizing: border-box;
}
.severity-label-important {
    border-color: #b94a48;
}
.severity-label-warning {
    border-color: #f89406;
}
.severity-checkbox {
  padding-left: 0.5em;
  border-width: 0.5em;
}


/* Popup page */

.popup-page {
    background-color: #fff;
    padding: 2em;
    min-height: 100%;
}

@media (min-width: 1200px) {

    .popup-page {
        max-width: 960px;
        margin: 0 auto;
    }

}



/* Loading animation */

.overlay {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.5);}
.windows8 {position:absolute; top: 50%; left: 50%; width:90px; height:90px; margin: -45px 0 0 -45px;}
.windows8 .wBall {position:absolute;width:86px;height:86px;opacity:0;-moz-transform:rotate(225deg);-moz-animation:orbit 7.15s infinite;-webkit-transform:rotate(225deg);-webkit-animation:orbit 7.15s infinite;-ms-transform:rotate(225deg);-ms-animation:orbit 7.15s infinite;-o-transform:rotate(225deg);-o-animation:orbit 7.15s infinite;transform:rotate(225deg);animation:orbit 7.15s infinite}.windows8 .wBall .wInnerBall{position:absolute;width:11px;height:11px;background:#FFF;left:0;top:0;-moz-border-radius:11px;-webkit-border-radius:11px;-ms-border-radius:11px;-o-border-radius:11px;border-radius:11px}.windows8 #wBall_1{-moz-animation-delay:1.56s;-webkit-animation-delay:1.56s;-ms-animation-delay:1.56s;-o-animation-delay:1.56s;animation-delay:1.56s}.windows8 #wBall_2{-moz-animation-delay:.31s;-webkit-animation-delay:.31s;-ms-animation-delay:.31s;-o-animation-delay:.31s;animation-delay:.31s}.windows8 #wBall_3{-moz-animation-delay:.62s;-webkit-animation-delay:.62s;-ms-animation-delay:.62s;-o-animation-delay:.62s;animation-delay:.62s}.windows8 #wBall_4{-moz-animation-delay:.94s;-webkit-animation-delay:.94s;-ms-animation-delay:.94s;-o-animation-delay:.94s;animation-delay:.94s}.windows8 #wBall_5{-moz-animation-delay:1.25s;-webkit-animation-delay:1.25s;-ms-animation-delay:1.25s;-o-animation-delay:1.25s;animation-delay:1.25s}@-moz-keyframes orbit{0%{opacity:1;z-index:99;-moz-transform:rotate(180deg);-moz-animation-timing-function:ease-out}7%{opacity:1;-moz-transform:rotate(300deg);-moz-animation-timing-function:linear;-moz-origin:0}30%{opacity:1;-moz-transform:rotate(410deg);-moz-animation-timing-function:ease-in-out;-moz-origin:7%}39%{opacity:1;-moz-transform:rotate(645deg);-moz-animation-timing-function:linear;-moz-origin:30%}70%{opacity:1;-moz-transform:rotate(770deg);-moz-animation-timing-function:ease-out;-moz-origin:39%}75%{opacity:1;-moz-transform:rotate(900deg);-moz-animation-timing-function:ease-out;-moz-origin:70%}100%,76%{opacity:0;-moz-transform:rotate(900deg)}}@-webkit-keyframes orbit{0%{opacity:1;z-index:99;-webkit-transform:rotate(180deg);-webkit-animation-timing-function:ease-out}7%{opacity:1;-webkit-transform:rotate(300deg);-webkit-animation-timing-function:linear;-webkit-origin:0}30%{opacity:1;-webkit-transform:rotate(410deg);-webkit-animation-timing-function:ease-in-out;-webkit-origin:7%}39%{opacity:1;-webkit-transform:rotate(645deg);-webkit-animation-timing-function:linear;-webkit-origin:30%}70%{opacity:1;-webkit-transform:rotate(770deg);-webkit-animation-timing-function:ease-out;-webkit-origin:39%}75%{opacity:1;-webkit-transform:rotate(900deg);-webkit-animation-timing-function:ease-out;-webkit-origin:70%}100%,76%{opacity:0;-webkit-transform:rotate(900deg)}}@-ms-keyframes orbit{0%{opacity:1;z-index:99;-ms-transform:rotate(180deg);-ms-animation-timing-function:ease-out}7%{opacity:1;-ms-transform:rotate(300deg);-ms-animation-timing-function:linear;-ms-origin:0}30%{opacity:1;-ms-transform:rotate(410deg);-ms-animation-timing-function:ease-in-out;-ms-origin:7%}39%{opacity:1;-ms-transform:rotate(645deg);-ms-animation-timing-function:linear;-ms-origin:30%}70%{opacity:1;-ms-transform:rotate(770deg);-ms-animation-timing-function:ease-out;-ms-origin:39%}75%{opacity:1;-ms-transform:rotate(900deg);-ms-animation-timing-function:ease-out;-ms-origin:70%}100%,76%{opacity:0;-ms-transform:rotate(900deg)}}@-o-keyframes orbit{0%{opacity:1;z-index:99;-o-transform:rotate(180deg);-o-animation-timing-function:ease-out}7%{opacity:1;-o-transform:rotate(300deg);-o-animation-timing-function:linear;-o-origin:0}30%{opacity:1;-o-transform:rotate(410deg);-o-animation-timing-function:ease-in-out;-o-origin:7%}39%{opacity:1;-o-transform:rotate(645deg);-o-animation-timing-function:linear;-o-origin:30%}70%{opacity:1;-o-transform:rotate(770deg);-o-animation-timing-function:ease-out;-o-origin:39%}75%{opacity:1;-o-transform:rotate(900deg);-o-animation-timing-function:ease-out;-o-origin:70%}100%,76%{opacity:0;-o-transform:rotate(900deg)}}@keyframes orbit{0%{opacity:1;z-index:99;transform:rotate(180deg);animation-timing-function:ease-out}7%{opacity:1;transform:rotate(300deg);animation-timing-function:linear;origin:0}30%{opacity:1;transform:rotate(410deg);animation-timing-function:ease-in-out;origin:7%}39%{opacity:1;transform:rotate(645deg);animation-timing-function:linear;origin:30%}70%{opacity:1;transform:rotate(770deg);animation-timing-function:ease-out;origin:39%}75%{opacity:1;transform:rotate(900deg);animation-timing-function:ease-out;origin:70%}100%,76%{opacity:0;transform:rotate(900deg)}}


/* Layout helpers */

.clearleft {clear: left}
.clearright {clear: right}
.clearboth {clear: both}
.inline {display: inline}

/* */
input.invalid { border: 1px solid red; }
