<div id="policylist-templates">
  <table>
    <tbody id="policy-item-template" class="template-container">
      {% include 'system/policy_list/item.html' with ps_pk='#PS_PK#' script_pk='#SCRIPT_PK#' name='#NAME#' params='#PARAMS#' submit_name='#SUBMIT_NAME#' %}
    </tbody>
  </table>
</div>

<div id="editpolicyscriptdialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Redigér script</h3>
  </div>
  <div class="modal-body">
    <!-- <form action="" method="post">
      <input type="hidden" name="editpolicyscript_script_pk" id="editpolicyscript_script_pk" value="new" />
      <input type="hidden" name="editpolicyscript_script_id" id="editpolicyscript_script_id" value="" />
      <fieldset>
        TODO: Some logic here that loops over script parameters
             Nice to have: if script has no arguments, print a message saying so
        <p><label for="editpolicyscript_param_value">&#123;&#123; editpolicyscript_param_key or something &#125;&#125;</label> <input class="editpolicyscript-field" id="editpolicyscript_param_value" maxlength="255" name="editpolicyscript_param_value" type="text" value="" /></p>
      </fieldset>
    </form> -->
  </div>
  <div class="modal-footer">
    <button onclick="BibOS.PolicyList.submitEditDialog('{{ policy_id }}')" class="btn btn-primary">Gem</button>
    <button class="btn" data-dismiss="modal">Annuller</button>
  </div>
</div>

<div id="addpolicyscriptdialog" class="modal hide fade" tabindex="-1" role="dialog" aria-label="Tilføj script til gruppe" aria-hidden="true">
  <div class="modal-header">
    <button type="buttopn" class="close" data-dismiss="modal">×</button>
    <h3>Tilføj script</h3>
  </div>
  <div class="modal-body">
    <ul class="script-list">
    {% for script in all_scripts %}
      <li onclick="BibOS.PolicyList.addToPolicy('{{ policy_id }}', '{{ script.id }}', '{{ script.name }}', '{{ script.pk }}', [{% for input in script.inputs.all %}
        {
          name: '{{ input.name }}',
          type: '{{ input.value_type }}',
          position: '{{ input.position }}',
          required: '{{ input.mandatory }}'
        },
      {% endfor %}])">
        <strong>{{ script.name }}</strong> ({% for input in script.inputs.all %}<span>{% if forloop.counter0 != 0 %}, {% endif %}{{ input.name }}</span>{% endfor %})
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
