{% extends "sitebase.html" %}

{% block header_title %}
<div class="container">Log <em>ind</em></div>
{% endblock %}

{% block content %}
<div class="container">
      <form method="post" action="">
          {% csrf_token %}
          <label>Brugernavn:</label>
          {{ form.username }}
          <label>Password:</label>
          {{ form.password }}
      <br>
      <input class="btn btn-primary" type="submit" value="Log ind">
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
