{% extends "sitebase.html" %}

{% block header_title %}
<h1>Log <em>ind</em></h1>
{% endblock %}

{% block content %}
      <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
          {% csrf_token %}
          <label>Brugernavn:</label>
          {{ form.username }}
          <label>Password:</label>
          {{ form.password }}
      <br>
      <input class="btn btn-primary" type="submit" value="Log ind">
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}
