{% extends "base.html" %}

{% block body %}
  
  <header {% block header_class %}{% endblock %} >

    {% if user.is_authenticated %}
  
      <div class="btn-group profile pull-right">
        <span>Velkommen</span>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user }} <i class="icon-chevron-down icon-white"></i></a>
        <ul class="dropdown-menu pull-right">
          <!---TODO: Commented out until we sort out how to handle this.
          <li><a href="#"><i class="icon-user"></i> Min profil</a></li>
          -->
          <li><a href="/accounts/logout/"><i class="icon-share"></i> Log ud</a></li>
        </ul>
      </div>
      
    {% endif %}
    <h1 class="siteheader">{% block  header_title %}{% endblock %}</h1>
  </header>

  {% block content %}
  {% endblock %}

{% endblock %}
