{% extends "base.html" %}

{% block body %}
<header>

{% if user.is_authenticated %}

<div class="btn-group profile pull-right">
        <span>Velkommen</span> <a class="dropdown-toggle"
            data-toggle="dropdown" href="#">{{ user }} <i class="icon-chevron-down icon-white"></i></a>
        <ul class="dropdown-menu pull-right">
          <li><a href="#"><i class="icon-user"></i> Min profil</a></li>
          <li><a href="#"><i class="icon-share"></i> Log ud</a></li>
        </ul>
    </div>
{% endif %}
    <div class="container">
        <h1>{% block  header_title %}{% endblock %} </h1>
    </div>
  </header>

  <div class="container">
      {% block content %}
      {% endblock %}
  </div>

{% endblock %}
