{% if pl_id %}
<div
  id="{{ pl_id  }}"
  {% if base_package_ids %}
  data-base-packages="{{ base_package_ids|join:',' }}"
  {% endif %}
>
    <div class="addpackagecontrol">
      <label for="{{ pl_id }}_addremovepackagename" class="inline">Søg pakker:</label>
      <input type="text" name="addpackagename" id="{{ pl_id }}_addremovepackagename" value=""/>
      <a class="btn btn-success" href="javascript:void(0)" onclick="BibOS.PackageList.addPackage('{{ pl_id }}')" title="Tilføj pakke"><i class="icon-plus icon-white"></i> Pakke skal installeres</a>
      <a class="btn btn-danger" href="javascript:void(0)" onclick="BibOS.PackageList.removePackage('{{ pl_id }}')" title="Fjern pakke"><i class="icon-remove icon-white"></i> Pakke skal fjernes</a>
    </div>
    
    <input type="hidden" id="removeable-package-ids" value="" disabled="disabled" />
    <ul class="unstyled well actionlist packagelist">
      {% for ii in packages %}
        {% if ii.do_add %}
        {% include 'system/package_lists/item.html' with pk=ii.package.pk name=ii.package.name submit_name=pl_id|add:'_add' %}
        {% else %}
        {% include 'system/package_lists/item.html' with pk=ii.package.pk name=ii.package.name label='label-important' submit_name=pl_id|add:'_remove' %}
        {% endif %}
      {% endfor %}
    </ul>
</div>
{% else %}
<p>You must specify a <em>pl_id</em> when loading the package_list template</p>
{% endif %}
