{% extends "base.html" %}
{% block body %}

    <form action="" method="post" class="popup-page">{% csrf_token %}
        <p>
            <input class="btn btn-primary" type="submit" value="Gem">
            <a class="btn" href="javascript:history.go(-1)">Luk</a>
        </p>
        <div class="alert alert-error">
                    <p><strong>{{ securityevent.problem.name }}: {{ securityevent.summary }}</strong></p>
                </div>
        <div class="row-fluid">
            <div class="span6">
                
                <dl class="dl-horizontal">
                    <dt>Tid</dt>
                    <dd>{{ securityevent.ocurred_time }}</dd>
                    <dt>Maskine</dt>
                    <dd><a href="/site/{{ site.uid }}/computers/{{ securityevent.pc.uid }}">{{ securityevent.pc.name }}</a>, sidst set {{ securityevent.pc.last_seen }}</dd>
                    <dt>Note</dt>
                    <dd>
                    {{ form.note.errors }}
                    {{ form.note }}
                    </dd>
            
                    <dt>Håndteres af</dt>
                    <dd>
                    {{ form.assigned_user.errors }}
                    {{ form.assigned_user }}
                    </dd>
                    <dt><strong>Status</strong></dt>
                    <dd>
                      {{ form.status.errors }}
                      {{ form.status }}
                    </dd>
                </dl>
            </div>
            <div class="span6">
                <dl>
                    <dt>Log-output:</dt>
                    <dd>
                        <p name="securityevent-log">
                            <pre>{{ securityevent.complete_log }}</pre>
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
    </form>

{% endblock %}
