{% extends "site_with_navigation.html" %}

{% block specific_title %}
Overblik
{% endblock %}

{% block specific_content %}

<ul class="sublevelnav">
    <li><a href="#"><i class="icon-hdd"></i> <span class="label label-info">New</span> Computer X</a></li>
    <li><a href="#"><i class="icon-hdd"></i> <span class="label label-info">New</span> Computer Y</a></li>
    <li><a href="#"><i class="icon-hdd"></i> <span class="label label-info">New</span> Computer Z</a></li>
    <li><a href="#"><i class="icon-hdd"></i> <span class="label label-warning">Update</span> Computer C</a></li>
    <li><a href="#"><i class="icon-hdd"></i> <span class="label label-warning">Update</span> Computer K</a></li>
    <li><a href="#"><i class="icon-hdd"></i> <span class="label label-warning">Update</span> Computer L</a></li>
    <li><a href="#"><i class="icon-hdd"></i> <span class="label label-warning">Update</span> Computer M</a></li>
    <li><a href="#"><i class="icon-hdd"></i> <span class="label label-warning">Update</span> Computer N</a></li>
    <li><a href="#"><i class="icon-hdd"></i> <span class="label label-warning">Update</span> Computer O</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer A</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer B</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer D</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer E</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer F</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer G</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer H</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer I</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer J</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer P</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer Q</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer R</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer S</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer T</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer U</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Computer V</a></li>
  </ul>
  
  <div class="container-fluid main sublevelmain">
    
    <table class="table jobtable">
          <tr>
            <th>Script</th>
            <th>Startet</th>
            <th>Sluttet</th>
            <th>Status</th>
            <th>Maskine</th>
            <th>Batch</th>
            <th></th>
          </tr>
          <tr class="muted">
            <td>Opdatér pakker</td>
            <td>2013-05-15 08:00</td>
            <td>2013-05-15 09:00</td>
            <td><span class="label label-important">Fejl</span></td>
            <td>PC23 (stuen)</td>
            <td>UpdatePackage_20130515</td>
            <td><button class="btn" data-toggle="popover" title="Log" data-original-title="Log" data-html="true" data-placement="bottom" data-content="<a href='#'><i class='icon-refresh'></i> Genstart job</a><pre>feglih eæglih selæfihaslehf læasiehf læsaijef læaishjef læiashje flæijas elfihjas leæfijas læefiha slæeifh</pre>"><i class="icon-info-sign"></i></button></td>
          </tr>
          <tr class="muted">
            <td>Opdatér pakker</td>
            <td>2013-05-15 08:00</td>
            <td>2013-05-15 09:00</td>
            <td><span class="label label-important">Fejl</span></td>
            <td>PC23 (stuen)</td>
            <td>UpdatePackage_20130515</td>
            <td><button class="btn" data-toggle="popover" title="Log" data-original-title="Log" data-html="true" data-placement="bottom" data-content="<a href='#'><i class='icon-refresh'></i> Genstart job</a><pre>feglih eæglih selæfihaslehf læasiehf læsaijef læaishjef læiashje flæijas elfihjas leæfijas læefiha slæeifh</pre>"><i class="icon-info-sign"></i></button></td>
          </tr>
          <tr class="muted">
            <td>Opdatér pakker</td>
            <td>2013-05-15 08:00</td>
            <td>2013-05-15 09:00</td>
            <td><span class="label label-important">Fejl</span></td>
            <td>PC23 (stuen)</td>
            <td>UpdatePackage_20130515</td>
            <td><button class="btn" data-toggle="popover" title="Log" data-original-title="Log" data-html="true" data-placement="bottom" data-content="<a href='#'><i class='icon-refresh'></i> Genstart job</a><pre>feglih eæglih selæfihaslehf læasiehf læsaijef læaishjef læiashje flæijas elfihjas leæfijas læefiha slæeifh</pre>"><i class="icon-info-sign"></i></button></td>
          </tr>
        </table> 
        
  </div>
{% endblock %}
