{% extends "site_with_navigation.html" %}

{% block specific_title %}
{% if site %}<span class="muted">({{ site.uid }})</span>{% endif %} 
Aktive computere
{% if active_pcs > 0 %}
        ({{ active_pcs }})
{% endif %}
{% endblock %}

{% block site_active %}
class="active"
{% endblock %}

{% block specific_content %}

<ul class="sublevelnav">
    {% for pc in pcs %}
    <li><a class="list-item" href="computers/{{ pc.uid }}"><i
            class="icon-hdd"></i>{% if pc.status.state %} <span
            class="label label-{{ pc.status.priority }}">{{ pc.status.state }}</span>{% endif %} {{ pc.name }}
    </a></li>
    {% endfor %}
</ul>

  <div class="container-fluid main sublevelmain" style="overflow-x: auto;">

    <table class="table table-hover warn-table"
    id="#site_activepcs_table">
      <thead>
        <tr>
          <th><i class="icon-hdd"></i> Navn</th>
          <th>Beskrivelse</th>
          <th>Senest set</th>
          <th>Seneste advarsel set</th>
        </tr>
      </thead>
      <tbody id="activepcs-list">
          {% for pc in ls_pcs %}
          {% if pc.is_active %}
        <tr class="click-list--item" onclick="location.href = '/site/{{ site.uid }}/computers/{{ pc.uid }}'">
            <td><strong>{{ pc.name }}</strong></td>
            <td>{{ pc.description }}</td>
            <td>{% if pc.last_seen %}{{ pc.last_seen }}{% else %}Aldrig{% endif %}</td>
            <td>
            {% for se in security_events %}	            	        
	        {% if se.pc_id == pc.id %}{{ se.reported_time }}{% endif %}	        							           
            {% endfor %}
            </td>         
        </tr>        
        {% endif %}
        {% endfor %}
      </tbody>
    </table> 
  </div>
{% endblock %}
