{% extends "sitebase.html" %}

{% block header_title %}
<div class="container">Administrér <em>Sites</em></div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="itemlist">
      {% for site in site_list %}     
        <div class="btn-group">
          <a href="/site/{{site.url}}" class="btn btn-large"><i class="icon-home"></i>{{site.name}}</a>
          <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
              <li><a href="/site/{{site.url}}/"><i class="icon-home"></i> Gå til</a></li>
              <li><a href="/sites/{{ site.url }}/edit/"><i class="icon-edit"></i> Redigér</a></li>
            <li><a href="#" title="Slet bibliotek"><i class="icon-remove"></i> Slet</a></li>
          </ul>
        </div>
      {% endfor %}      
    </div>
    <div><a href="/sites/new/" title="Tilføj nyt site"><i class="icon-plus"></i> tilføj nyt site</a></div>
  </div>
{% endblock %}
