{% extends "site_with_navigation.html" %}

{% block specific_title %}
Brugere
{% endblock %}

{% block specific_content %}

  <ul class="sublevelnav">
    <li class="listutils"><a href="#" title="Tilføj nyt bibliotek"><i class="icon-plus icon-white"></i> tilføj ny bruger</a></li>
    <li><a href="#"><i class="icon-user"></i> Admin</a></li>
    <li class="active"><a href="#"><i class="icon-user"></i> Sherlock Holmes</a></li>
    <li><a href="#"><i class="icon-user"></i> Dr. Watson</a></li>
    <li><a href="#"><i class="icon-user"></i> Irene Adler</a></li>
  </ul>
  
  <div class="container-fluid main sublevelmain">
      <h2 class="divideheader">Profil: <em>Sherlock Holmes</em></h2>
      
      <button class="btn btn-primary">Gem ændringer</button>
      <button class="btn">Annuller</button>
          
      <hr>
      
      <div>
        <form>
          <fieldset>
            <div class="row-fluid">
              <div class="span6">
                <label>Navn:</label>
                <input type="text" value="Sherlock Holmes">
              </div>
              <div class="span6">
                <label>Rettighedsgruppe:</label>
                <select>
                  <option>Administrator</option>
                  <option>------</option>
                  <option>Administrator</option>
                  <option>Superadministrator</option>
                  <option>Gæst</option>
                </select>
              </div>
            </div>
          
          </fieldset>
        </form>
        <hr>
        <div>
          <a href="#"><i class="icon icon-remove"></i> Slet bruger</a>
        </div>
    </div>
  </div>

{% endblock %}
