{% extends "site_with_navigation.html" %}

{% block specific_title %}
Status
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var current_sorting = '{{orderby}}';
    function joblist_orderby(key) {
      var new_order = BibOS.getOrderBy(current_sorting, key);
      location.href = './?orderby=' + new_order;
    }
</script>
{% endblock %}

{% block site_active %}
class="active"
{% endblock %}

{% block specific_content %}

  <ul class="sublevelnav">    
    {% for pc in pcs %}
    <li><a href="computers/{{ pc.uid }}"><i class="icon-hdd"></i>{% if pc.status.state %} <span class="label label-{{ pc.status.priority }}">{{ pc.status.state }}</span>{% endif %} {{ pc.name }} </a></li>
    {% endfor %}
  </ul>
  
  <div class="container-fluid main sublevelmain" style="overflow-x: auto;">
    
    <table class="table jobtable">
          <tr>
            <th class="orderby order-pk desc" onclick="joblist_orderby('batch__script__name')">Script<br><i class="icon icon-chevron-down"></i></th>
            <th class="orderby order-started desc" onclick="joblist_orderby('started')">Startet<br><i class="icon icon-chevron-down"></i></th>
            <th class="orderby order-finished desc" onclick="joblist_orderby('finished')">Sluttet<br><i class="icon icon-chevron-down"></i></th>
            <th class="orderby order-status desc" onclick="joblist_orderby('status')">Status<br><i class="icon icon-chevron-down"></i></th>
            <th class="orderby order-pc__name desc" onclick="joblist_orderby('pc__name')">Computer<br><i class="icon icon-chevron-down"></i></th>
            <th class="orderby order-batch__name desc" onclick="joblist_orderby('batch__name')">Batch<br><i class="icon icon-chevron-down"></i></th>
            <th></th>
          </tr>
          {% if jobs %}
          {% for job in jobs %}
          <tr class="muted">
            <td>{{job.script_name}}</td>
            <td>{{job.started}}</td>
            <td>{{job.finished}}</td>
            <td><span class="label >{{job.label}}">{{job.status}}</span></td>
            <td>{{job.pc_name}}</td>
            <td>{{job.batch_name}}</td>
            <td><button class="btn" data-toggle="popover" title="Log" data-original-title="Log" data-html="true" data-placement="bottom" data-content="<a href='#'><i class='icon-refresh'></i> Genstart job</a><pre>feglih eæglih selæfihaslehf læasiehf læsaijef læaishjef læiashje flæijas elfihjas leæfijas læefiha slæeifh</pre>"><i class="icon-info-sign"></i></button></td>
          </tr>
          {% endfor %}
          {% else %}
            <tr><td colspan="7">Der blev ikke fundet nogen fejlede jobs</td></tr>
          {% endif %}
        </table> 
        
  </div>
{% endblock %}
