{% extends "site_with_navigation.html" %}

{% block specific_title %}
Grupper
{% endblock %}

{% block specific_content %}


  <ul class="sublevelnav">
    <li class="listutils"><a href="#" title=""><i class="icon-plus icon-white"></i> tilføj ny gruppe</a></li>
    <li><a href="#"><i class="icon-tags"></i> Gruppe A</a></li>
    <li class="active"><a href="#"><i class="icon-tags"></i> Gruppe B</a></li>
    <li><a href="#"><i class="icon-tags"></i> Gruppe C</a></li>
    <li><a href="#"><i class="icon-tags"></i> Gruppe D</a></li>
    <li><a href="#"><i class="icon-tags"></i> Gruppe E</a></li>
    <li><a href="#"><i class="icon-tags"></i> Gruppe F</a></li>
  </ul>
  
  <div class="container-fluid main sublevelmain">
    
    <h2 class="divideheader">Detaljer om <em>Gruppe B</em></h2>
    
    <button class="btn btn-primary">Gem ændringer</button>
    <button class="btn">Annuller</button>
          
    <hr>
    
    <form class="row-fluid">
      <fieldset class="span6">
        
        <label>Navn:</label>
        <input type="text" value="Gruppe B">
        
        <label>Beskrivelse:</label>
        <textarea>Gruppe af PCere i afd. for børnelitteratur</textarea>
        
      </fieldset>
      <fieldset class="span6">
        
        <label>Maskiner i denne gruppe:</label>
        <ul class="unstyled well actionlist">
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-hdd"></i> Computer A</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-hdd"></i> Computer Z</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-hdd"></i> Computer D</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-hdd"></i> Computer E</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern maskine</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#" title="Tilføj maskine"><i class="icon-plus"></i> tilføj maskiner</a></li>
        </ul>
        
      </fieldset>
    </form>
    <hr>
    <div class="row-fluid">
      <div class="span6">
          
        <label>Konfigurationer for maskiner i denne gruppe:</label>
        <div class="well">
          <table class="table table-condensed table-hover">
            <tr>
              <th>Nøgle</th>
              <th>Værdi</th>
            </tr>
            <tr class="muted">
              <td>Automatic update</td>
              <td>
                <div class="btn-group profile dark">
                  <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">false</a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-edit"></i> Redigér</a></li>
                    <li><a href="#"><i class="icon-remove"></i> Slet konfiguration</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="muted">
              <td>Logout timeout</td>
              <td>
                <div class="btn-group profile dark">
                  <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">180 min</a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-edit"></i> Redigér</a></li>
                    <li><a href="#"><i class="icon-remove"></i> Slet konfiguration</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="#" title="Tilføj ny konfiguration"><i class="icon-plus"></i> tilføj konfiguration</a>
              </td>
            </tr>
          </table>
        </div>
        
      </div>
      <div class="span6">
        
        <label>Pakker:</label>
        <ul class="unstyled well actionlist">
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="label label-success">libvar64</span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="label label-success">Danish-language-files</span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="label label-success">dist-patch-3.0.236</span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Distribution-upgrade-3.0</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke for denne maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">libmoghills</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke for denne maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">dist-patch-3.0.234</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke for denne maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="label label-important">MS-font-faces</span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-plus"></i> Acceptér pakke for denne maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">dist-patch-3.0.233</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke for denne maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="label label-important">Ubuntu-font-faces</span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-plus"></i> Acceptér pakke for denne maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">libdipvip32</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke for denne maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">MS-font-faces-arabic</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke for denne maskine</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">dist-patch-3.0.0</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke for denne maskine</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#" title="Tilføj pakke"><i class="icon-plus"></i> tilføj pakker</a></li>
        </ul>
        
      </div>
      
    </div>
    
  </div>
{% endblock %}
