{% extends "site_with_navigation.html" %}

{% block specific_title %}
Site-konfiguration
{% endblock %}

{% block configuration_active %}
class="active"
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/media/js/configlist.js"></script>
{% endblock %}


{% block specific_content %}
  <div class="container-fluid main">

    <form action="{% url 'configuration' site.uid%}" method="post"
      name="site_configuration_form" id="site_configuration_form">

      {% include 'notification.html' %}

      <div>
        <button class="btn btn-primary">Gem ændringer</button>
        <button class="btn" onclick="return ((location.href=location.href) && false)">Annuller</button>
        <div style="margin-top: 20px;">
          {% csrf_token %}
        </div>
      </div>
      
      {% if site %}
        <p class="well" style="font-size: 14px; line-height: 20px;">
          <span class="muted">Dette sites ID er</span> <strong>{{ site.uid }}</strong>
        </p>
      {% endif %}

      {% include 'system/configlist/list.html' with entries=site_configs cnf_id='site_configs' %}
      {% include 'system/configlist/templates.html' %}
    </form>
  </div>
{% endblock %}
