{% extends "site_with_navigation.html" %}

{% block specific_title %}
Grupper
{% endblock %}

{% block specific_documentation_links %}
    <li><a href="{% url 'doc' 'groups' %}"><i class="icon-question-sign icon-white"></i> Administration af grupper</a></li>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/media/js/package_lists.js"></script>
<script type="text/javascript" src="/media/js/configlist.js"></script>
<script type="text/javascript" src="/media/js/pclist.js"></script>
<script type="text/javascript" src="/media/js/policy_list.js"></script>
{% endblock %}

{% block groups_active %}
class="active"
{% endblock %}

{% block specific_content %}
  <ul class="sublevelnav">
      <li class="listutils">
        <a href="#addNewGroup" role="button" data-toggle="modal" title="tilføj ny gruppe"><i class="icon-plus icon-white"></i> tilføj ny gruppe</a>
      </li>
      {% for group in site.groups.all %}
        <li {% ifequal group selected_group %}class="active"{% endifequal %}>
          {% ifequal group selected_group %}
            {% if selected_group.is_delete_allowed %}
              <a class="remove pull-right" href="/site/{{ site.url }}/groups/{{ selected_group.url }}/delete/" title="Slet gruppe"><i class="icon-remove icon-white"></i></a>
            {% endif %}
          {% endifequal %}
          <a class="list-item" href="/site/{{ site.url }}/groups/{{ group.url }}/"><i class="icon-tags"></i> {{ group.name }}</a>
        </li>
      {% endfor %}
  </ul>

  <div class="container-fluid main sublevelmain">

    <h2 class="divideheader">Detaljer om <em>{{ selected_group.name }}</em></h2>
    {% include 'notification.html' %}

    <form name="updategroupform" id="updategroupform"
      action="{% url 'group' site.uid selected_group.url %}"
      method="post" class="row-fluid">

      <button class="btn btn-primary">Gem ændringer</button>
      <button class="btn" onclick="return BibOS.PackageList.cancelEditing()">Annuller</button>

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#group-details" data-toggle="tab">Detaljer</a>
        </li>
        <li>
          <a href="#group-configs" data-toggle="tab">Konfigurationer</a>
        </li>
        <li>
          <a href="#group-packages" data-toggle="tab">Pakker</a>
        </li>
        <li>
          <a href="#group-policies" data-toggle="tab">Scripts</a>
      </ul>

      <div id="group-details" class="tabcontent active">
        <div class="row-fluid">
          <fieldset class="span6">
            {% csrf_token %}
            <label for="id_name">Navn:</label>
            {{ form.name.errors }}
            {{ form.name }}

            <label for="id_uid">Id:</label>
            {{ form.uid.errors }}
            {{ form.uid }}

            <label for="id_description">Beskrivelse:</label>
            {{ form.description.errors }}
            {{ form.description }}
          </fieldset>
          <fieldset class="span6">
            <label for="id_pcs">Computere i denne gruppe:</label>
            {{ form.pcs.errors }}
            {% include 'system/pclist/list.html' with submit_name='pcs' %}
          </fieldset>
        </div>
      </div>

      <div id="group-configs" class="tabcontent">
        {% include 'system/configlist/list.html' with entries=selected_group.configuration.entries.all cnf_id='group_configuration' %}
      </div>

      <div id="group-packages" class="tabcontent">
        {% include 'system/package_lists/list.html' with packages=package_infos pl_id='group_packages' %}
      </div>

      <div id="group-policies" class="tabcontent">
        {% include 'system/policy_list/list.html' with entries=selected_group.configuration.entries.all policy_id='group_policies' %}
      </div>

    </form>

    <div id="addNewGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form action="{% url 'new_group' site.uid %}" name="new_group_form" id="new_group_form" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Tilføj ny gruppe</h3>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            {{ newform.as_p }}
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Gem" />
          <input type="reset" class="btn" data-dismiss="modal" value="Annuller" />
        </div>
      </form>
    </div>

    {% include 'system/package_lists/templates.html' %}
    {% include 'system/configlist/templates.html' %}
    {% include 'system/policy_list/templates.html' %}

  </div>
{% endblock %}
