{% extends "site_with_navigation.html" %}

{% load bibos_custom_tags %}

{% block specific_title %}
Aktive computere
{% endblock %}

{% block activepcs_active %}
class="active"
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block specific_documentation_links %}
  <li><a href="{% url 'doc' 'site_security' %}"><i
              class="icon-question-sign icon-white"></i>Hjælp til sikkerhed</li>
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">

    <table class="table table-hover warn-table"
    id="#site_activepcs_table">
      <thead>
        <tr>
          <th>Navn</th>
          <th>Beskrivelse</th>
          <th>Sidst set</th>
        </tr>
      </thead>
      <tbody id="activepcs-list">
          {% for pc in site.pcs.all|sort_by:'last_seen' %}
          {% if pc.is_active %}
        <tr class="muted">
            <td><a href="/site/{{ site.uid }}/computers/{{ pc.uid }}">{{ pc.name }}</a></td>
            <td>{{ pc.description }}</td>
            <td>{% if pc.last_seen %}{{ pc.last_seen|date:'Y-m-d H:i:s' }}{% else %}Aldrig{% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table> 
  </div>
{% endblock %}
