{% extends "site_with_navigation.html" %}

{% block specific_title %}
Jobs
{% endblock %}

{% block head_javascripts %}
  <script type="text/javascript">
    var bibos_job_search_url = '{% url 'jobsearch' site.uid %}'
  </script>
  <script type="text/javascript" src="/media/js/jobs_list.js"></script>
{% endblock %}

{% block jobs_active %}
class="active"
{% endblock %}

{% block specific_content %}
  <div class="template-container">
   <table>
    <tbody id="jobitem-template">
      <tr class="muted">
        <td><input type="checkbox"></td>
        <td>#SCRIPT_NAME#</td>
        <td>#STARTED#</td>
        <td>#FINISHED#</td>
        <td><span class="label #LABEL#">#STATUS#</span></td>
        <td>#PC_NAME#</td>
        <td>#BATCH_NAME#</td>
        <td>
          <button class="btn" data-toggle="popover" title="Log" data-original-title="Log" data-html="true" data-placement="bottom" data-content="<a href='#'><i class='icon-refresh'></i> Genstart job</a><pre>#LOG_OUTPUT#</pre>"><i class="icon-info-sign"></i></button></td>
      </tr>
    </tbody>
   </table> 
  </div>
  <div class="container-fluid main">
    <div class="row-fluid">
      <div class="span2">
        <div class="well">
          <form id="jobsearch-filterform" name="filterform" action="./" method="post">
            <input type="hidden" name="batch" value="{{ selected_batch }}" />
            <input type="hidden" name="pc" value="{{ selected_pc }}" />
            <input type="hidden" name="group" value="{{ selected_group }}" />
            <input type="hidden" name="orderby" value="-pk" />
            <h3 class="nav-header">Filtrér:</h3>
            <hr>
            <div id="jobsearch-status-selectors">
            {% for name, value, label in status_choices%}
            <label>
              <input type="checkbox" value="{{ value }}" name="status">
              <span class="label {{ label }}">{{ name }}</span>
            </label>
            {% endfor %}
            </div>
            <hr>
            <a href="javascript:void(0)" class="btn collapsing" data-toggle="collapse" data-target="#demo1"><i class="icon-chevron-down"></i> Batches</a>
            <div id="demo1" class="collapse out{% if selected_batch %} in{% endif %}">
              <ul class="unstyled">
                {% for batch in batches %}
                <li onclick="BibOS.JobList.selectBatch(this, '{{ batch.pk }}')" {% ifequal batch.pk selected_batch %}class="selected"{% endifequal %}>
                  <a href="javascript:void(0)">{{ batch.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <a href="javascript:void(0)" class="btn collapsing" data-toggle="collapse" data-target="#demo2"><i class="icon-chevron-down"></i> PCs</a>
            <div id="demo2" class="collapse out{% if selected_pc %} in{% endif %}">
              <ul class="unstyled">
                {% for pc in pcs %}
                <li onclick="BibOS.JobList.selectPC(this, '{{ pc.pk }}')" {% ifequal pc.pk selected_pc %}class="selected"{% endifequal %}>
                  <a href="javascript:void(0)"><i class="icon-hdd"></i> {{ pc.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <a href="javascript:void(0)" class="btn collapsing" data-toggle="collapse" data-target="#demo3"><i class="icon-chevron-down"></i> Grupper</a>
            <div id="demo3" class="collapse out{% if selected_group %} in{% endif %}">
              <ul class="unstyled">
                {% for group in groups %}
                <li onclick="BibOS.JobList.selectGroup(this, '{{ group.pk }}')" {% ifequal group.pk selected_group %}class="selected"{% endifequal %}>
                  <a  href="javascript:void(0)"><i class="icon-tags"></i> {{ group.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </form>
        </div>
      </div>
      <div class="span10">
        <table class="table table-hover jobtable">
          <thead>
            <tr>
              <th class="orderby order-pk desc" onclick="BibOS.JobList.orderby('pk')"><i class="icon icon-chevron-down"></i></th>
              <th class="orderby order-batch__script__name desc" onclick="BibOS.JobList.orderby('batch__script__name')">Script <i class="icon icon-chevron-down"></i></th>
              <th class="orderby order-started desc" onclick="BibOS.JobList.orderby('started')">Startet <i class="icon icon-chevron-down"></i></th>
              <th class="orderby order-finished desc" onclick="BibOS.JobList.orderby('finished')">Sluttet <i class="icon icon-chevron-down"></i></th>
              <th class="orderby order-status desc" onclick="BibOS.JobList.orderby('status')">Status <i class="icon icon-chevron-down"></i></th>
              <th class="orderby order-pc__name desc" onclick="BibOS.JobList.orderby('pc__name')">Computer <i class="icon icon-chevron-down"></i></th>
              <th class="orderby order-batch__name desc" onclick="BibOS.JobList.orderby('batch__name')">Batch <i class="icon icon-chevron-down"></i></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="job-list">
            <tr class="muted">
              <td colspan="8">Loading data...</td>
            </tr>
          </tbody>
        </table> 
      </div>
    </div>
  </div>
{% endblock %}
