{% extends "sitebase.html" %}

{% block header_title %}
<h1>Administrér <em>Sites</em></h1>
{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
      <div class="span8 itemlist">
            
            <div class="btn-group">
              <a href="/site/aakb" class="btn btn-large"><i class="icon-home"></i> Bibliotek A</a>
              <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="bibos_overview.html"><i class="icon-home"></i> Gå til</a></li>
                <li><a href="#"><i class="icon-edit"></i> Redigér</a></li>
                <li><a href="#" title="Slet bibliotek"><i class="icon-remove"></i> Slet</a></li>
              </ul>
            </div>
            
            <div class="btn-group">
              <a href="/site/aakb" class="btn btn-large"><i class="icon-home"></i> Bibliotek B</a>
              <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="bibos_overview.html"><i class="icon-home"></i> Gå til</a></li>
                <li><a href="#"><i class="icon-edit"></i> Redigér</a></li>
                <li><a href="#" title="Slet bibliotek"><i class="icon-remove"></i> Slet</a></li>
              </ul>
            </div>
            
            <div class="btn-group">
              <a href="/site/aakb" class="btn btn-large"><i class="icon-home"></i> Bibliotek C</a>
              <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="bibos_overview.html"><i class="icon-home"></i> Gå til</a></li>
                <li><a href="#"><i class="icon-edit"></i> Redigér</a></li>
                <li><a href="#" title="Slet bibliotek"><i class="icon-remove"></i> Slet</a></li>
              </ul>
            </div>
        
      </div>
      <div class="span4">
        
        <ul class="nav nav-list utils">
          <li><a href="#" title="Tilføj nyt site"><i class="icon-plus icon-white"></i> tilføj nyt site</a></li>
        </ul>
        
        </div>
      </div>
    </div>
</div>
{% endblock %}
