{% extends "site_with_navigation.html" %}

{% load bibos_custom_tags %}

{% block specific_title %}
Aktive computere
{% endblock %}

{% block activepcs_active %}
class="active"
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block specific_documentation_links %}
  <li><a href="{% url 'doc' 'site_security' %}"><i
              class="icon-question-sign icon-white"></i>Hjælp til sikkerhed</li>
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">

    <table class="table table-hover warn-table"
    id="#site_activepcs_table">
      <thead>
        <tr>
          <th>Navn</th>
          <th>Beskrivelse</th>
          <th>Senest set</th>
          <th>Seneste advarsel set</th>
        </tr>
      </thead>
      <tbody id="activepcs-list">
          {% for pc in ls_pcs %}
          {% if pc.is_active %}
        <tr class="muted">
            <td><a href="/site/{{ site.uid }}/computers/{{ pc.uid }}">{{ pc.name }}</a></td>
            <td>{{ pc.description }}</td>
            <td>{% if pc.last_seen %}{{ pc.last_seen }}{% else %}Aldrig{% endif %}</td>  
            {% for se in security_events %}	            
	        {% if se.pc_id == pc.id %}    
	            <td>{{ se.reported_time }}</td>
	        {% endif %}							           
            {% endfor %}         
        </tr>        
        {% endif %}
        {% endfor %}
      </tbody>
    </table> 
  </div>
{% endblock %}
