{% extends "site_with_navigation.html" %}

{% block specific_title %}
Grupper
{% endblock %}

{% block specific_content %}


  <ul class="sublevelnav">
      <li class="listutils"><a href="/site/{{ site.url }}/groups/new/" title=""><i class="icon-plus icon-white"></i> tilføj ny gruppe</a></li>
      {% for group in site.groups.all %}
      <li {% ifequal group selected_group %}class="active"{% endifequal %}><a
          href="/site/{{ site.url }}/groups/{{ group.url }}/"><i class="icon-tags"></i> {{ group.name }}</a></li>
      {% endfor %}
  </ul>
  
  <div class="container-fluid main sublevelmain">
    
      <h2 class="divideheader">Detaljer om <em>{{ selected_group.name }}</em></h2>
    
    <button class="btn btn-primary">Gem ændringer</button>
    <button class="btn">Annuller</button>
          
    <hr>
    
    <form class="row-fluid">
      <fieldset class="span6">
        
        <label>Navn:</label>
        <input type="text" value="{{ selected_group.name }}">
        
        <label>Beskrivelse:</label>
        <textarea>{{ selected_group.description }}</textarea>
        
      </fieldset>
      <fieldset class="span6">
        
        <label>Maskiner i denne gruppe:</label>
        <ul class="unstyled well actionlist">
            {% for pc in selected_group.pcs.all %}
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i
                      class="icon-hdd"></i> {{ pc.name }}</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern maskine</a></li>
              </ul>
            </div>
            {% endfor %}
            <li><a href="#" title="Tilføj maskine"><i class="icon-plus"></i> tilføj maskiner</a></li>
        </ul>
        
      </fieldset>
    </form>
    <hr>
    <div class="row-fluid">
      <div class="span6">
          
        <label>Konfigurationer for maskiner i denne gruppe:</label>
        <div class="well">
          <table class="table table-condensed table-hover">
            <tr>
              <th>Nøgle</th>
              <th>Værdi</th>
          </tr>
          {% for entry in selected_group.configuration.entries.all %}
            <tr class="muted">
                <td>{{ entry.key }}</td>
              <td>
                <div class="btn-group profile dark">
                  <a class="dropdown-toggle btn" data-toggle="dropdown"
                      href="#">{{ entry.value }}</a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-edit"></i> Redigér</a></li>
                    <li><a href="#"><i class="icon-remove"></i> Slet konfiguration</a></li>
                  </ul>
                </div>
              </td>
          </tr>
          {% endfor %}
            <tr>
              <td colspan="2">
                <a href="#" title="Tilføj ny konfiguration"><i class="icon-plus"></i> tilføj konfiguration</a>
              </td>
            </tr>
          </table>
        </div>
        
      </div>
      <div class="span6">
        
        <label>Pakker:</label>
        <ul class="unstyled well actionlist">
            {% for package in selected_group.package_list.packages.all %}
          <li>
            <div class="btn-group profile dark">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                      class="label label-success">{{ package.name }}</span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-remove"></i> Fjern pakke</a></li>
              </ul>
            </div>
            </li>
            {% endfor %}
          <li><a href="#" title="Tilføj pakke"><i class="icon-plus"></i> tilføj pakker</a></li>
        </ul>
        
      </div>
      
    </div>
    
  </div>
{% endblock %}
