{% extends "site_with_navigation.html" %}

{% block specific_title %}
Global konfiguration
{% endblock %}

{% block configuration_active %}
class="active"
{% endblock %}

{% block specific_content %}


  <div class="container-fluid main">
    
        <div class="well" style="margin-top: 20px;">
          <table class="table table-condensed table-hover">
            <tr class="welledth">
              <th>Nøgle</th>
              <th>Værdi</th>
          </tr>
          {% for c in site.configuration.entries.all %}
            <tr class="muted">
                <td>{{ c.key }}</td>
              <td>
                <div class="btn-group profile dark">
                  <a class="dropdown-toggle btn" data-toggle="dropdown"
                      href="#">{{ c.value }}</a>
                  <ul class="dropdown-menu">
                      <li><a href="edit/{{c.pk}}/"><i class="icon-edit"></i> Redigér</a></li>
                      <li><a href="delete/{{c.pk}}"><i class="icon-remove"></i> Slet konfiguration</a></li>
                  </ul>
                </div>
              </td>
          </tr>
          {% endfor %}
            <tr>
              <td colspan="2">
                <a href="new/" title="Tilføj ny konfiguration"><i class="icon-plus"></i> tilføj konfiguration</a>
              </td>
            </tr>
        </table>
        {{ form.as_table }}
        </div>
    
  </div>
{% endblock %}
