{% extends "site_with_navigation.html" %}

{% block specific_title %}
Definerede sikkerhedsproblemer
{% endblock %}

{% block specific_documentation_links %}
    <li><a href="{% url 'doc' 'groups' %}"><i class="icon-question-sign icon-white"></i> Definition af sikkerhedsproblemer</a></li>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/media/js/pcgrouplist.js"></script>
<script type="text/javascript" src="/media/js/userlist.js"></script>
{% endblock %}

{% block security_problems_active %}
class="active"
{% endblock %}

{% block specific_content %}
  <ul class="sublevelnav">
    <li class="listutils">
      <a href="#addNewSecProblem" role="button" data-toggle="modal" title="Definér nyt sikkerhedsproblem"><i class="icon-plus icon-white"></i> definér nyt sikkerhedsproblem</a>
    </li>
    {% for sp in site.security_problems.all|dictsort:"uid" %}
    <li {% ifequal sp selected_security_problem %}class="active"{% endifequal %}>
        {% ifequal sp selected_security_problem %}
        {% if selected_security_problem.is_delete_allowed %}
        <a class="remove pull-right" href="/site/{{ site.url }}/security_problems/{{ selected_security_problem.url }}/delete/" title="Slet sikkerhedsproblem" ><i class="icon-remove icon-white"></i></a>
        {% endif %}
        {% endifequal %}
        <a class="list-item" href="/site/{{ site.url }}/security_problems/{{ sp.uid }}/"><i class="icon-exclamation-sign"></i>{{ sp.name }}</a>
    </li>
    {% endfor %}
  </ul>
  
  <div class="container-fluid main sublevelmain">
    
    <h2 class="divideheader">
        Detaljer om <em>{{ selected_security_problem.name }}</em>
        <a class="pull-right" href="/site/{{ site.url }}/security/problem/{{ selected_security_problem.uid }}" title="Se alle advarsler for dette sikkerhedsproblem"><span class="badge badge-important"><icon class="icon-fire icon-white"></icon></span></a>
    </h2>
    {% include 'notification.html' %}
    
    <form name="updategroupform" id="updategroupform"
      method="post" class="row-fluid">
      <p>
        <button class="btn btn-primary">Gem ændringer</button>
        <button class="btn" onclick="return BibOS.SecurityProblemList.cancelEditing()">Annuller</button>
      </p>
      <div>
        <div class="row-fluid">
          <fieldset class="span6">
              {% csrf_token %} 
            <label>Navn:</label>
            {{ form.name.errors }}
            {{ form.name }}
            <label>Id:</label>
            {{ form.name.errors }}
            {{ form.name }}
            <label>Problemmeddelelse:</label>
            {{ form.description.errors }}
            {{ form.description }}
            
            <label>Alvorsgrad:</label>
            {{ form.level.errors }}
            {{ form.level }}

            <label>Script:</label>
            {{ form.script.errors }}
            {{ form.script }}

            <label>Overvåges af følgende grupper:</label>
            {% include 'system/pcgrouplist/list.html' with submit_name='alert_groups' %}
            
          </fieldset>
          <fieldset class="span6">
            
            <label>Modtager(e) af email-advarsel</label>
            {% include 'system/userlist/list.html' with submit_name='alert_users' %}
          </fieldset>
        </div>
        
      </div>

    </form>

    <div id="addNewSecProblem" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form action="{% url 'security_problem_new' site.uid %}" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Definér nyt sikkerhedsproblem</h3>
        </div>
        <div class="modal-body">
            
            <div class="row-fluid">
                <fieldset class="span6">
                    {% csrf_token %}
                  
            <label>Navn:</label>
            {{ form.name.errors }}
            {{ form.name }}
            <label>Id:</label>
            {{ form.name.errors }}
            {{ form.name }}
            <label>Problemmeddelelse:</label>
            {{ form.description.errors }}
            {{ form.description }}
            
            <label>Alvorsgrad:</label>
            {{ form.level.errors }}
            {{ form.level }}

            <label>Script:</label>
            {{ form.script.errors }}
            {{ form.script }}

                  <label>Overvåg følgende grupper:</label>
                  {% include 'system/pcgrouplist/list.html' with submit_name='pc_groups' %}
                  
                </fieldset>
                <fieldset class="span6">
                  
                  <label>Modtager(e) af email-advarsel</label>
                  {% include 'system/pcgrouplist/list.html' with submit_name='pc_groups' %}
                  
                  <label class="checkbox">
                      <input type="checkbox">
                      Advar øjeblikkeligt ved opstået problem
                  </label>
                  
                  <label class="checkbox">
                      <input type="checkbox">
                      Advar i email-rapport én gang dagligt
                  </label>
                  </fieldset>
              </div>
            
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Gem" />
          <input type="reset" class="btn" data-dismiss="modal" value="Annuller" />
        </div>
      </form>
    </div>

  </div>
{% endblock %}
