{% extends "site_with_navigation.html" %}

{% block specific_title %}
Overblik
{% endblock %}

{% block specific_content %}

<ul class="sublevelnav">
    
    {% for pc in site.pcs.all %}
    <li><a href="#"><i class="icon-hdd"></i> <span class="label
            label-info">New</span> {{ pc.name }} </a></li>
    {% endfor %}
  </ul>
  
  <div class="container-fluid main sublevelmain">
    
    <table class="table jobtable">
          <tr>
            <th>Script</th>
            <th>Startet</th>
            <th>Sluttet</th>
            <th>Status</th>
            <th>Maskine</th>
            <th>Batch</th>
            <th></th>
          </tr>
          <tr class="muted">
            <td>Opdatér pakker</td>
            <td>2013-05-15 08:00</td>
            <td>2013-05-15 09:00</td>
            <td><span class="label label-important">Fejl</span></td>
            <td>PC23 (stuen)</td>
            <td>UpdatePackage_20130515</td>
            <td><button class="btn" data-toggle="popover" title="Log" data-original-title="Log" data-html="true" data-placement="bottom" data-content="<a href='#'><i class='icon-refresh'></i> Genstart job</a><pre>feglih eæglih selæfihaslehf læasiehf læsaijef læaishjef læiashje flæijas elfihjas leæfijas læefiha slæeifh</pre>"><i class="icon-info-sign"></i></button></td>
          </tr>
          <tr class="muted">
            <td>Opdatér pakker</td>
            <td>2013-05-15 08:00</td>
            <td>2013-05-15 09:00</td>
            <td><span class="label label-important">Fejl</span></td>
            <td>PC23 (stuen)</td>
            <td>UpdatePackage_20130515</td>
            <td><button class="btn" data-toggle="popover" title="Log" data-original-title="Log" data-html="true" data-placement="bottom" data-content="<a href='#'><i class='icon-refresh'></i> Genstart job</a><pre>feglih eæglih selæfihaslehf læasiehf læsaijef læaishjef læiashje flæijas elfihjas leæfijas læefiha slæeifh</pre>"><i class="icon-info-sign"></i></button></td>
          </tr>
          <tr class="muted">
            <td>Opdatér pakker</td>
            <td>2013-05-15 08:00</td>
            <td>2013-05-15 09:00</td>
            <td><span class="label label-important">Fejl</span></td>
            <td>PC23 (stuen)</td>
            <td>UpdatePackage_20130515</td>
            <td><button class="btn" data-toggle="popover" title="Log" data-original-title="Log" data-html="true" data-placement="bottom" data-content="<a href='#'><i class='icon-refresh'></i> Genstart job</a><pre>feglih eæglih selæfihaslehf læasiehf læsaijef læaishjef læiashje flæijas elfihjas leæfijas læefiha slæeifh</pre>"><i class="icon-info-sign"></i></button></td>
          </tr>
        </table> 
        
  </div>
{% endblock %}
